.siu-container {
  padding-left: 0px !important;
  padding-right: 0px !important;
  overflow-x: hidden;
  position: fixed;
  height: 100%;
  overflow-y: auto;
}

.siu-container .siu-navbar {
  background-color: cornflowerblue !important;
}

.siu-container .siu-dashboard {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 15px;
}

.siu-dashboard .siu-memo-list .siu-memo-item:hover {
  cursor: pointer;
  background-color: cornsilk;
}

.siu-dashboard .siu-memo-list .siu-memo-item {
  margin-top: 15px;
  background-color: bisque;
  transition: 0.3s;
}

.siu-memo-item .card-text {
  white-space: pre-wrap;
}

.siu-memo-item .close-button {
  position: absolute;
  top: 0;
  right: 5px;
}