.siu-container {
  padding-left: 0px !important;
  padding-right: 0px !important;
  overflow-x: hidden;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  /* background-image: url('../images/board.jpg');
  background-size: cover;
  background-position: center; */
}

.siu-container .siu-navbar {
  background-color: #8a3bc4  !important;
}

.siu-container .siu-dashboard {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 15px;
}

.siu-dashboard .siu-memo-list .siu-memo-item:hover {
  cursor: pointer;
  background-color: cornsilk;
}

.siu-dashboard .siu-memo-list .siu-memo-item {
  margin-top: 15px;
  background-color: #edffd7;
  transition: 0.3s;
}

.siu-memo-item .card-text {
  white-space: pre-wrap;
}

.siu-memo-item {
  box-shadow: #545b62 2px 1.5px 5px 0px;
}

.siu-memo-item .close-button {
  position: absolute;
  top: 0;
  right: 5px;
}